
:root {
  --white: #EA0080
}

body {
    font-family: 'Comfortaa', cursive;
    background-image: url("/Users/MrZ/Trabajo/SAP pagina web/sebastian-main/Home.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position: right: 50% bottom: 0px ;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}
.left {
    display: flex;
}
.left ul {
    display: flex;
    margin: 0;
}
.left ul li {
    margin: 0 .5rem;
    list-style: none;
}
a {
    color: var(--#FC1A98);
    text-decoration: none;
}
.right {
    display: flex;
}

.right ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.right ul li {
    margin: 0 .5rem;
}
.owner-name {
    text-align: center;
}
h2 {
    color: black;
    margin: 0;
    margin-bottom: 2rem;
}
h1 {
    font-size: 3rem;
    position: relative;
    margin-bottom: 2rem;
    color: #EA0080
}
h3 {
    font-size: 1rem;
    position: relative;
    margin-bottom: 2rem;
    color: #EA0080
}
.hero a button {

    background-color: #FFDEF0;
    width: 12rem;
    height: 4rem;
    font-family: 'Sacramento', cursive;
    font-size: 1.3rem;


}
.hero {
    margin-left: 2rem;
}
.footer {
    position: absolute;
    bottom: 20px;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
}
.footer a {
    margin: 0 2rem;
}

#instagram {
    margin-left: 0;
}
button {
    font-family: 'Comfortaa', cursive;
}
a:hover {
    text-decoration: underline;
    color: burlywood;
}
